<section>
  <p>Bonjour  {{ oUtilisateur.utilisateur_prenom }} {{ oUtilisateur.utilisateur_nom }},</p>

  <p>Nous avons le plaisir de vous transmettre votre identifiant de connexion et votre mot de passe pour accéder à votre profil.</p>

  <p>Identifiant: <strong>{{ oUtilisateur.utilisateur_courriel }}</strong></p>
  <p>Mot de passe: <strong>{{ oUtilisateur.utilisateur_mdp }}</strong></p>

  <p>Cordialement,</p>
  <p>Lord Stampee</p>
</section>