<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Problème technique</title>
  <link rel="stylesheet" type="text/css">
</head>

<body>
  <main>
  
  {{ include(templateMain) }}
  
  </main>
</body>
</html>