<dialog id="modaleSuppressionForm">
  <p class="center">Voulez-vous poursuivre ?</p>
  <div class="actions">
    <button class="button-find center OK">OK</button>
    <button class="button-find center KO focus">Annuler</button>
  </div>
</dialog>