<dialog id="modaleSuppression">
  <p class="center">Voulez-vous poursuivre ?</p>
  <div class="actions">
    <button class="button-find OK">OK</button>
    <button class="button-find KO focus">Annuler</button>
  </div>
</dialog>