<section class="mb--large mt--large">
  <h1>{{ titre|upper }}</h1>
  <p>Votre inscription est maintenant finalisée !</p>
  <p>Un courriel avec vos informations de connexion vous a été envoyé !</p>
  <form method="POST" class="connexion" action="admin">
    <input type="submit" class="button" value="Connectez-vous">
  </form>
</section>