<section  class="connexion">
  <h1>{{ titre|upper }}</h1>
  
  <form method="POST" action="admin?entite=enchere&action=l">

    <br><span>&nbsp;{{ messageErreurConnexion }}</span>

    <label>Courriel</label>
    <input name="utilisateur_courriel" value="">
    
    <label>Mot de passe</label>
    <input type="password" name="utilisateur_mdp" value="">
  
    <input type="submit" class="button" value="Envoyer">
  
  </form> 

  <p class="messageRetourAction {{ classRetour }}">{{ messageRetourAction }}&nbsp;</p> 
</section>