<!-- début template erreur --> 
<section id="erreur">
  <h1>Problème technique</h1>
  <p>Message : {{ message }}</p>
  <p>Fichier : {{ fichier }}</p>
  <p>Ligne : {{ ligne }}</p>
</section>
<!-- fin template erreur --> 